#home {
  .chiao_swiper {
    .swiper_img {
      .v-parallax__image-container {
        width: 100vw;
        img {
          object-fit: cover;
          width: 100vw;
          height: 1080px;
          // @include lg{
          //   width: 1920px;
          // }
        }
      }
      .v-parallax__content {
        // color:#e29578;
        // color:#9c6644;
        color: #2c2c2c;
      }
      .slogan {
        position: relative;
        // width: 400px;
        // height: 500px;
        // background-color: whitesmoke;
        // opacity: 0.4;
        // margin: auto;
        .slogan_text {
          font-size: 60px;
          @include md {
            font-size: 100px;
          }
        }
        .btn {
          width: 180px;
          height: 60px;
          font-size: 20px;
        }
      }
      .slogan::before {
        content: "";
        width: 451px;
        height: 400px;
        background-color: whitesmoke;
        opacity: 0.8;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        @include sm {
          width: 550px;
        }
        @include md {
          width: 911px;
          height: 580px;
        }
        @include lg {
          width: 1215px;
          height: 430px;
        }
        @include xl {
          width: 100%;
        }
      }
      .slogan2 {
        width: 100%;
        // margin: auto;
        .slogan_text2 {
          h1 {
            font-size: 45px;
            font-family: "Satisfy", cursive;
            @include md {
              font-size: 80px;
            }
          }
        }
      }
    }
  }


#second {
  a {
    text-decoration: none;
  }
  width: 100%;
  height: 400px;
  background: #c8a27a;
  @include md {
    height: 250px;
  }
  .row {
    height: 400px;
    @include md {
      height: 250px;
    }
    .col-6 {
      height: 200px;
    }
    .home_col {
      display: flex;
      justify-content: center;
      align-items: center;
      .bean {
        width: 45%;
        object-fit: cover;
        @include md {
          width: 45%;
          margin-top: 10%;
        }
      }
      .bean:hover {
        width: 55%;
        object-fit: cover;
        @include md {
          width: 55%;
        }
      }
      .bean_name {
        color: black;
        margin-top: 10px;
        @include md {
          margin-top: 0px;
          font-size: 18px;
        }
      }
      .powder {
        width: 80%;
        @include md {
          width: 90%;
        }
      }
      .powder:hover {
        width: 90%;
        object-fit: cover;
        @include md {
          width: 100%;
        }
      }
      .powder_name {
        color: black;
        margin-top: 10px;
        @include md {
          font-size: 18px;
        }
      }
      .capsule {
        width: 55%;
        object-fit: cover;
        @include md {
          width: 50%;
          margin-top: 5%;
        }
      }
      .capsule:hover {
        width: 65%;
        object-fit: cover;
        @include md {
          width: 60%;
        }
      }
      .capsule_name {
        color: black;
        margin-top: 10px;
        @include md {
          font-size: 18px;
        }
      }
      .machine {
        width: 50%;
        object-fit: cover;
        @include sm{
          width: 45%;
          object-fit: cover;
        }
        @include md {
          margin-top: 10px;
          width: 35%;
        }
      }
      .machine:hover {
        width: 60%;
        object-fit: cover;
        @include sm {
          width: 50%;
        }
        @include md {
          width: 40%;
        }
      }
      .machine_name {
        color: black;
        @include md {
          font-size: 18px;
        }
      }
    }
  }
}

// #third {
//   padding-top: 100px;
//   .third_news {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }

#fourth {
  margin-top: 50px;
  @include md{
    margin-top: 85px;
  }
  .describe {
    width: 450px;
    margin: auto;
    h1 {
      font-size: 20px;
      @include sm {
        font-size: 24px;
      }
      @include lg {
        font-size: 24px;
      }
      span {
        font-size: 24px;
        color: #774936;
        @include sm {
          font-size: 28px;
        }
        @include lg {
          font-size: 30px;
        }
      }

    }
  }
  .video{
    margin-top: 50px;
  @include md{
    margin-top: 0px;
  }
  }
}

#fifth {
  margin-top: 50px;
  @include md{
    margin-top: 80px;
  }
  .map {
    .mail {
      .v-input__slot {
        padding: 0;
        .v-text-field__slot {
          background-color: aliceblue;

          border-radius: 5px 0 0 5px;
          .v-label {
            font-size: 20px;
            text-align: center;
            padding-left: 20px;

          }
        }
      }
    }
    .subscribe{
      .v-btn:not(.v-btn--round).v-size--default{
        height: 56px;
      }
    }
  }
}

#sixth {
  .swiper_col {
    .newProducts {
      font-size: 40px;
    }
    .products_swiper {
      height: 480px;
      @include sm {
        height: 380px;
      }
      a {
        text-decoration: none;
      }
      .products_name {
        font-size: 20px;
      }
      .powder_img,
      .capsule_img {
        width: 400px;
        height: 356px;
        @include sm {
          height: 231px;
        }
        @include md {
          height: 236px;
        }
        @include lg {
          height: 231px;
        }
        @include xl {
          height: 202px;
        }
      }
    }
    .products_btn {
      font-weight: 700;
    }
  }
  .cafeBg{
    position: relative;
    img{
      width: 40%;
      position: absolute;
      top:-358px;
      left: -108px;
      opacity: 0.6;
      transform: rotate(-27deg);
    }
  }
}



#seventh {
  padding-top: 100px;
  .home_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    .describe {
      width: 450px;
      margin: auto;
      h1 {
        @include md {
          font-size: 26px;
        }
      }
    }
  }
}
}