.v-btn:before{
  // background-color: transparent;
  background-color: rgb(195, 169, 147);
}
.btn_reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  background-color: rgb(195, 169, 147);
  position: absolute;
  // width:110px;
}