#news{
  .activity{
    p{
      font-size: 16px;
      font-weight: 500;
      color: #582f0e;
      @include md{
        font-size: 20px;
      }
      @include lg{
        font-size: 30px;
      }
      @include xl{
        font-size: 40px;
      }
    }
  }
  .lesson_table{
    width: 80%;
    margin: auto;
  }
}