#products{
  .products_menu{
    display: flex;
    text-align: center;
    @include md{
      display:block;
      text-align: left;
    }
    .v-list-item__title {
      @include md{
        font-size: 20px;
      }
  }
  }
}