#header{
  width: 100%;
  margin: auto;
  .logo{
    width: 60%;
    .logo_img{
      width: 100%;
      object-fit: cover;
    }
  }
  .nav-btn{
    font-weight: 500;
  }
}
.drawer{
  z-index: 1000;
  .drawer_logo{
    width: 100%;
    object-fit: cover;
  }
}