#header {
  width: 100%;
  margin: auto;
  color: #9d8460;
}

#header .logo {
  width: 60%;
}

#header .logo .logo_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#header .nav-btn {
  font-weight: 500;
}

.drawer {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.drawer .drawer_logo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
